body {
    font-family: Helvetica;
    font-size: 16px;
    background-color: #ffe7e7;
}

* {
    box-sizing: border-box;
}

.cart-jumbotron {
    font-size: 1.6em;
    background: white;
    padding: 0.2em;
    margin-bottom: 1em;
    text-align: center;
}

input[type=text] {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
}

#name, #cardnumber{
    width: 100%;
}

#expiration, #province, #postal {
    width: 20%;
}

label, input {
    margin-bottom: 10px;
    display: block;
}

.payment {
    font-weight: bold;
    border: none;
    padding: 1em 1.5em;
    background: #61E5A5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-bottom: 20px;
    float: right;
}
